<div class="container mt-2">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <h3 class="card-title text-danger">Food</h3>
          </div>
          <div class="col-6">
            <div class="float-end">
              <form class="d-flex" #f="ngForm" (ngSubmit)="onSerach(f.value)">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  name="motCle"
                  [(ngModel)]="motCle"
                  required
                />
                <button class="btn btn-outline-success" type="submit">
                  Search
                </button>
              </form>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-4" *ngFor="let p of dataSearch | paginate: { itemsPerPage: size, currentPage: currentPage ,totalItems:resulat}">
            <div *ngIf="dataSearch" class="d-flex justify-content-center mt-2">
              <mat-card class="example-card">
                <div *ngIf="p.userImageURL; then thenBlock; else elseBlock"></div>
                <ng-template class="imgUser m-2" #thenBlock>
                  <mat-card-header>
                    <img
                      mat-card-avatar
                      src="{{ p.userImageURL }}"
                      alt="{{ p.user }}"
                    />
  
                    <mat-card-title> {{ p.user }}</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                  </mat-card-header>
                </ng-template>
                <ng-template class="imgUser d-flex m-2" #elseBlock>
                  <mat-card-header>
                    <mat-card-title> {{ p.user }}</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                  </mat-card-header>
                </ng-template>
  
                <img
                  mat-card-image
                  src="{{ p.webformatURL }}"
                  alt="Photo of a Shiba Inu"
                  height="280"
                />
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct
                    spitz breeds of dog from Japan. A small, agile dog that copes
                    very well with mountainous terrain, the Shiba Inu was
                    originally bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <div class="d-flex justify-content-center">
                    <button class="btn btn-outline-info btn-sm me-2">
                      <i class="fa fa-eye"></i>
                      {{ p.views }}
                    </button>
                    <button class="btn btn-outline-danger btn-sm me-2">
                      <i class="fa fa-thumbs-up"></i> {{ p.views }}
                    </button>
                  </div>
                </mat-card-actions>
              </mat-card>
            </div>
           
          </div>
          <pagination-controls (pageChange)="pageChanged($event)" class="paginator mt-3 "></pagination-controls>
         
        </div>
      </div>
    </div>
  </div>
  